<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> <%= blog_name %> </title>
    <style>
        .post {
            background-color: dodgerblue;
            margin: 10px 50px;
        }

        .padding-lots {
            padding: 40px 50px;
        }

        .text-centered {
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
</head>
<body>
    <main class="container">

    <div class="hero has-text-centered" style="margin-top: 30px;">
        <h2 class="purple">Welcome to <%= name %>'s tiny blog</h2>
<p>Each post is a <i>tiny</i> blog post. It could be 5 words or 5 lines long</p>
    </div>

    <section class="section">
        <form action="/posts" method="POST">
        <label class="label">Make a new post</label>
        <div class="field">
            <div class="control">
               <input class="input" name="title" type="text" placeholder="Title">
            </div>
        </div>

        <div class="field">
            <div class="control">
            <input class="input" name="content" type="text" placeholder="Content">
            </div>
        </div>

            <input class="button is-primary" style="margin-top: 10px;" type="submit">
        </form>
    </section>

    <section class="section">
<% if posts.length > 0 %>
  <h4><%= posts.length %> Posts</h4>
<% posts.each_with_index do |post, index| %>
<article class="media box">
    <figure class="media-left">
        <p class="tag is-medium">
            <%= Time.at(post["created_at"].to_i).strftime("%d, %b %Y") %>
        </p>
    </figure>

    <%# main content %>

    <div class="media-content">
        <div class="content">
            <p><strong> <%= post["title"] %> </strong></p>
            <div>
            <%= post["content"] %>
            </div>
        </div>
    </div>

    <%# media right %>

    <div class="media-right">
    <span class="button is-danger is-size-7">
    <a href="/posts/delete?id=<%= index %>" method="DELETE">
    &times;
    </a>
    </span>
    </div>
</article><% end %>
<% else %>
  <div class="has-background-grey-lighter is-dark is-shadowless padding-lots has-text-centered is-size-5">No posts yet :(</div>
<% end %>
</section>
    </main>
    <footer class="footer">
    <%= Time.now %>. All rights reserved. <i>Tiny Blog</i> <%= tb_version %>
</footer>
</body>
</html>